@model ReportViewModel

<div class="text-center">
    <h1 class="display-4 mb-5">Interns @Model.ReportName</h1>
    <div class="my-5">
        <table class="table table-sm table-bordered table-striped" id="tblReport">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Degree Plan</th>
                    <th scope="col">Role</th>
                    <th scope="col">Track</th>
                    <th scope="col">PGIP Email</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Last Updated</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < @Model.Interns.Count(); i++)
                {
                    var indexOffset = i + 1; 
                    <tr>
                        <th scope="row"><a asp-action="DisplayIntern" asp-controller="Home" asp-route-internId="@Model.Interns[i].Id">@indexOffset</a></th>
                        <td>@Model.Interns[i].FirstName<br />@Model.Interns[i].LastName</td>
                        <td>@Model.Interns[i].Department</td>
                        <td>@Model.Interns[i].DegreePlan</td>
                        <td>@Model.Interns[i].Role</td>
                        <td>@Model.Interns[i].Track</td>
                        <td>@Model.Interns[i].InternshipEmail</td>
                        <td>@Model.Interns[i].StartDate.Value.ToString("MM-dd-yyyy")</td>
                        <td>@Model.Interns[i].EndDate.Value.ToString("MM-dd-yyyy")</td>
                        <td>@Model.Interns[i].LastUpdate.Value.ToString("MM-dd-yyyy")<br />By:<br />@Model.Interns[i].LastUpdatedBy</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
           <a class="btn btn-primary" asp-action="AdminIndex" asp-controller="Home" style="width: 20%" role="button">Go Home</a>
           <a class="btn btn-primary" asp-action="Index" asp-controller="Report" style="width: 20%" role="button">Back to Reports</a>
    </div>
</div>

@section Scripts 
{
    <script>
        $(()=>{
            $('#tblReport').DataTable();
        })
    </script>
}