@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var nextYear = DateTime.Today.Year + 1;
    var previousYear = DateTime.Today.Year - 1;

     List<string> dates = new List<string>();
     dates.Add(previousYear.ToString().Remove(0, 2));
     dates.Add(DateTime.Today.Year.ToString().Remove(0, 2));
     dates.Add(nextYear.ToString().Remove(0, 2));
    
     List<string> tracks = new List<string>() { "A", "B", "C", "D/E" };
     List<string> Terms = new List<string>() { "01", "02", "03", "04", "05" };

    var next5Years = DateTime.Today.Year + 5;
    var previous2Years = DateTime.Today.Year - 2;
    var upcomingYears = next5Years.ToString("MM-dd-YYYY");
    var PastYears = previous2Years.ToString("MM-dd-YYYY");
}
@model TermDatesModel
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div>
    <h3 class="my-5" style="text-align: center">Please fill out the form below</h3>
    <div>
        <form asp-action="AddTerm" id="addterm" method="post">
            <div class="row">
                <div class="my-3 col-2">
                     <label asp-for="Track" class="form-label my-2">Term Name</label>
                     <input type="text" class="form-control" required id="TermName" asp-for="Track" placeholder="Track name..." aria-describedby="Track">
                 </div>
                    <div class="my-3 col-2" style="text-align: center">
                        <label class="form-label my-2" id="termYear">Choose a term Year</label>
                        <select class="form-select" onselect="GetTrack" required id="termYear" placeholder="Select an Option">
                            @foreach (var year in dates)
                            {
                               <option onselect="GetTrack" value="@year">@year</option>
                            }
                        </select>
                    </div>

                    <div class="my-3 col-2" style="text-align: center">
                        <label class="form-label my-2">Choose a term number</label>
                        <select class="form-select" onselect="GetTrack" required id="termNumber"  placeholder="Select an Option">
                            @foreach (var number in Terms)
                            {
                               <option onselect="GetTrack" value="@number">@number</option>
                            }
                        </select>
                    </div>
                     <div class="my-3 col-2" style="text-align: center">
                        <label class="form-label my-2">Choose a track letter</label>
                        <select class="form-select" onselect="GetTrack" required id="termLetter" placeholder="Select an Option">
                            @foreach (var letter in tracks)
                            {
                               <option onselect="GetTrack" value="@letter">@letter</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-2">
                        <label asp-for="StartDate" class="mb-2">Term Start Date: &nbsp;</label>
                        <input type="date" required asp-for="StartDate"
                               value="@DateTime.Today.ToString("MM-dd-YYYY")"
                               min="1900-01-01" max="12-31-9999">
                    </div>
                    <div class="mb-3 col-2">
                        <label asp-for="EndDate" class="mb-2">Term End Date: &nbsp;</label>
                        <input type="date" required asp-for="EndDate"
                               value="@DateTime.Today.ToString("MM-dd-YYYY")"
                               min="1900-01-01" max="12-31-9999">
                    </div> 
                </div>
            <div class="text-center my-5">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    @if (Context.Session != null)
    {
           <div style="text-align: center">
             <a class="btn btn-primary" style="width: 20%" asp-action="AdminIndex" role="button">Return Home</a>
           </div>
    }
</div>


<script>
    
    function GetTrack()
        {
            let termYear = $("select[id$='termYear']").val();
            let termNumber = $("select[id$='termNumber']").val();
            let termLetter = $("select[id$='termLetter']").val();
            let track = termYear + termNumber + termLetter;
            $("input[id$='TermName']").val(track);
        }

    $(document).ready(function(){
       $("select[id$='termYear']").change(GetTrack);
       $("select[id$='termNumber']").change(GetTrack);
       $("select[id$='termLetter']").change(GetTrack);
    });

</script>

