
@model List<InternsModel>

<div class="text-center">
    <h1 class="display-4 mb-5">Dropped Interns List</h1>
    <div class="my-5">
        <table class="table table-sm table-bordered table-striped" id="tblAdminIndex">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Degree Plan</th>
                    <th scope="col">Role</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Count(); i++)
                {
                    var indexOffset = i + 1; 
                    <tr>
                        <th scope="row"><a asp-action="DisplayDroppedIntern" asp-route-Id="@Model[i].Id">@indexOffset</a></th>
                        <td>@Model[i].FirstName</td>
                        <td>@Model[i].LastName</td>
                        <td>@Model[i].Department</td>
                        <td>@Model[i].DegreePlan</td>
                        <td>@Model[i].Role</td>
                        <td>@Model[i].StartDate.Value.ToString("MM-dd-yyyy")</td>
                        <td>@Model[i].EndDate.Value.ToString("MM-dd-yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <h4>Welcome, @Context.Session.GetString("AdminFirstName")!</h4>
    </div>
    <div class="my-5" style="text-align: center">
          <a class="btn btn-primary my-2" asp-action="AdminIndex" style="width: 30%; height: 50%; col-4" role="button">Home Page</a>
    </div>
</div>

@section Scripts 
{
    <script>
        $(()=>{
            $('#tblAdminIndex').DataTable();
        })
    </script>
}