@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var nextYear = DateTime.Today.Year + 1;
    var previousYear = DateTime.Today.Year - 1;

     List<string> dates = new List<string>();
     dates.Add(previousYear.ToString().Remove(0, 2));
     dates.Add(DateTime.Today.Year.ToString().Remove(0, 2));
     dates.Add(nextYear.ToString().Remove(0, 2));
    
     List<string> tracks = new List<string>() { "A", "B", "C", "D/E" };
     List<string> Terms = new List<string>() { "01", "02", "03", "04", "05" };
                            
}
@model RegistrationViewModel


<div>
    <div class=row>
        <h2 class="my-5" style="text-align: center">Please fill out the form below</h2>
    </div>
    <div>
        <form asp-action="Registration" method="post">
            <div class="row" style="text-align: center">
                <div class="mb-3 col-3">
                    <label asp-for="@Model.Intern.FirstName" class="form-label mb-2">First Name</label>
                    <input type="text" required class="form-control mb-4" asp-for="@Model.Intern.FirstName" placeholder="First Name Here...." aria-describedby="First Name">
                </div>
                <div class="mb-3 col-3">
                    <label asp-for="@Model.Intern.LastName" class="form-label mb-2">Last Name</label>
                    <input type="text" required class="form-control mb-4" asp-for="@Model.Intern.LastName" placeholder="Last Name Here...." aria-describedby="Last Name">
                </div>
                <div class="mb-3 col-2">
                    <label asp-for="@Model.Intern.StartDate" class="mb-2">Internship Start Date: &nbsp;</label>
                    <input type="date" required asp-for="@Model.Intern.StartDate"
                           value="@DateTime.Today.ToString("MM-dd-yyyy")"
                           min="1900-01-01" max="@DateTime.Today.ToString("MM-dd-yyyy")">
                </div>
                <div class="mb-3 col-2">
                    <label asp-for="@Model.Intern.EndDate" class="mb-2">Internship End Date: &nbsp;</label>
                    <input type="date" required asp-for="@Model.Intern.EndDate"
                           value="@DateTime.Today.ToString("MM-dd-yyyy")"
                           min="1900-01-01" max="@DateTime.Today.ToString("MM-dd-yyyy")">
                </div>
            </div>
            <div class="row mb-3" style="text-align: center">
                <div class="my-3 col-4" style="text-align: center">
                    <label asp-for="@Model.Intern.Department" class="form-label my-2">Choose a Department</label>
                    <select class="form-select" required asp-for="@Model.Intern.Department" placeholder="Select an Option">
                        <option value="Programming and Software Development">Programming and Software Development</option>
                        <option value="Cyber Security">Cyber Security</option>
                        <option value="Networking">Networking</option>
                        <option value="IT Generalist">IT Generalist</option>
                        <option value="Data Analytics">Data Analytics</option>
                        <option value="Game Development">Game Development</option>
                        <option value="Cloud Computing">Cloud Computing</option>
                        <option value="Data Management">Data Management</option>
                        <option value="Supply Chain Management">Supply Chain Management</option>
                        <option value="Project Management">Project Management</option>
                        <option value="CISSP">CISSP</option>
                        <option value="Other (Insert into Notes)">Other (Insert into Notes)</option>
                    </select>
                </div>
                <div class="my-3 col-4">
                    <label asp-for="@Model.Intern.DegreePlan" class="form-label my-2">Choose a Degree</label>
                    <select class="form-select" required asp-for="@Model.Intern.DegreePlan" placeholder="Select an Option">
                        <option value="AASIT-Associates of Applied Science in IT">AASIT-Associates of Applied Science in IT</option>
                        <option value="BSCYS-Bachelor of Science in Cyber Security">BSCYS-Bachelor of Science in Cyber Security</option>
                        <option value="BSIT-Bachelor of Science in Information Technology">BSIT-Bachelor of Science in Information Technology</option>
                        <option value="BSA-Bachelor of Science in Analytics">BSA-Bachelor of Science in Analytics</option>
                        <option value="BSCCS-Bachelor of Science in Cloud Computing">BSCCS-Bachelor of Science in Cloud Computing</option>
                        <option value="MSIT-Master of Science in Information Technology">MSIT-Master of Science in Information Technology</option>
                        <option value="MSCM-Master of Science in Cybersecurity Management">MSCM-Master of Science in Cybersecurity Management</option>
                        <option value="MSDA-Master of Science in Data Analytics">MSDA-Master of Science in Data Analytics</option>
                    </select>
                </div>
                <div class="my-3 col-4">
                    <label asp-for="@Model.Intern.Role" class="form-label my-2">Choose a Role</label>
                    <select class="form-select" required asp-for="@Model.Intern.Role" placeholder="Select an Option">
                        <option value="Programmer">Programmer</option>
                        <option value="Programmer Team Lead">Programming Team Lead</option>
                        <option value="Programmer Mentor">Programming Mentor</option>
                        <option value="Cyber Analyst">Cyber Analyst</option>
                        <option value="Cyber Analyst Team Lead">Cyber Analyst Team Lead</option>
                        <option value="Cyber Analyst Mentor">Cyber Analyst Mentor</option>
                        <option value="Network Analyst">Network Analyst</option>
                        <option value="Network Analyst Team Lead">Network Analyst Team Lead</option>
                        <option value="Network Analyst Mentor">Network Analyst Mentor</option>
                        <option value="IT Support">IT Specialist</option>
                        <option value="IT Support Team Lead">IT Specialist Team Lead</option>
                        <option value="IT Support Mentor">IT Specialist Mentor</option>
                        <option value="Data Analyst">Data Analyst</option>
                        <option value="Data Analyst Team Lead">Data Analyst Team Lead</option>
                        <option value="Data Analytics Mentor">Data Analyst Mentor</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="row mb-3" style="text-align: center">
                    <div class="my-3 col-4">
                    <label asp-for="@Model.Intern.DegreeConcentration" class="form-label my-2">Concentration</label>
                    <input type="text" required class="form-control" asp-for="@Model.Intern.DegreeConcentration" placeholder="Degree Concentration....." aria-describedby="Degree Concentration">
                </div>
                    <div class="my-3 col-2">
                        <label asp-for="@Model.Intern.Track" class="form-label my-2">Track</label>
                        <select class="form-select" type="date" required size="8" asp-for="@Model.Intern.Track" placeholder="Select an Option">
                            
                          @for (var i = 0; i < dates.Count(); i++)
                            {
                                var year = dates[i];

                              for (var x = 0; x < Terms.Count(); x++)
                                {
                                    var currentTerm = Terms[x];

                                  for (var z = 0; z < tracks.Count(); z++)
                                    {
                                        var currentTrack = tracks[z];
                                        
                                        <option value="@year@currentTerm@currentTrack">@year@currentTerm@currentTrack</option>
                                    }
                                }
                            }
                        </select>
                    </div>
               </div>
            </div>
            <div class="row mb-3" style="text-align: center">
                <div class="mb-3 col-4">
                    <label asp-for="@Model.Intern.InternshipEmail" class="form-label mb-2">PGIP Email</label>
                    <input type="email" required class="form-control mb-4" asp-for="@Model.Intern.InternshipEmail" placeholder="PGIP Email....." aria-describedby="InternshipEmail">
                </div>
                <div class="mb-3 col-4">
                    <label asp-for="@Model.Intern.PersonalEmail" class="form-label mb-2">Personal Email</label>
                    <input type="email" required class="form-control mb-4" asp-for="@Model.Intern.PersonalEmail" placeholder="Intern's Personal Email" aria-describedby="Personal Email">
                </div>

                <div class="mb-3 col-4">
                    <label asp-for="@Model.Intern.SchoolEmail" class="form-label mb-2">Purdue Global Email</label>
                    <input type="email" required class="form-control mb-4" asp-for="@Model.Intern.SchoolEmail" placeholder="Purdue Global Email....." aria-describedby="Purdue Global Email">
                </div>
             </div>
            <div class="row">
                <div class="mb-3 col-8">
                  <label asp-for="@Model.Intern.InternNotes" class="form-label">Notes</label>
                  <textarea class="form-control" asp-for="@Model.Intern.InternNotes" rows="3"></textarea>
                </div>
            </div>
            <div class="my-5">
                <table class="table my-5">
                  <thead>
                    <h3 style="text-align: center">Check all that has been completed below</h3>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.InviteToMeetings">
                        <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.InviteToMeetings">
                        <label class="form-check-label" asp-for="@Model.Intern.InviteToMeetings">
                        Invite To Meetings &nbsp;
                        </label> 
                      </td>
                      <td>
                        <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.Email">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.Email">
                            <label class="form-check-label" asp-for="@Model.Intern.Email">
                            Email &nbsp;
                            </label>
                      </td>
                      <td>
                        <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.EntranceSurvey">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.EntranceSurvey">
                            <label class="form-check-label" asp-for="@Model.Intern.EntranceSurvey">
                            Entrance Survey &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.WelcomeDocument">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.WelcomeDocument">
                            <label class="form-check-label" asp-for="@Model.Intern.WelcomeDocument">
                            Welcome Document &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.ThreeSignedDocuments">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.ThreeSignedDocuments">
                            <label class="form-check-label" asp-for="@Model.Intern.ThreeSignedDocuments">
                            Three Signed Documents &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.ESETTraining">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.ESETTraining">
                            <label class="form-check-label" asp-for="@Model.Intern.ESETTraining">
                            ESET Training &nbsp;
                            </label> 
                      </td>
                    </tr>
                    <tr>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.Resume">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.Resume">
                            <label class="form-check-label" asp-for="@Model.Intern.Resume">
                            Resume &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.Orientation1Access">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.Orientation1Access">
                            <label class="form-check-label" asp-for="@Model.Intern.Orientation1Access">
                            Orientation 1 Access &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.Orientation2Access">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.Orientation2Access">
                            <label class="form-check-label" asp-for="@Model.Intern.Orientation2Access">
                            Orientation 2 Access &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.TCWAccess">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.TCWAccess">
                            <label class="form-check-label" asp-for="@Model.Intern.TCWAccess">
                            TCW Access &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.PlannerAccess">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.PlannerAccess">
                            <label class="form-check-label" asp-for="@Model.Intern.PlannerAccess">
                            Planner Access &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.TeamGroupChat">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.TeamGroupChat">
                            <label class="form-check-label" asp-for="@Model.Intern.TeamGroupChat">
                            Team Group Chat &nbsp;
                            </label> 
                      </td>
                    </tr>
                    <tr style="margin-left: auto; margin-right: auto;">
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.OneDriveSetup">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.OneDriveSetup">
                            <label class="form-check-label" asp-for="@Model.Intern.OneDriveSetup">
                            OneDrive Setup &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.AzureSetup">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.AzureSetup">
                            <label class="form-check-label" asp-for="@Model.Intern.AzureSetup">
                            Azure Setup &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.ExitSurveySent">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.ExitSurveySent">
                            <label class="form-check-label" asp-for="@Model.Intern.ExitSurveySent">
                            Exit Survery Sent &nbsp;
                            </label> 
                      </td>
                      <td>
                            <input class="form-check-input" type="checkbox" value="true" asp-for="@Model.Intern.Masterclass">
                            <input class="form-check-input" type="hidden" value="false" asp-for="@Model.Intern.Masterclass">
                            <label class="form-check-label" asp-for="@Model.Intern.Masterclass">
                            Masterclass Presentation &nbsp;
                            </label> 
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="text-center my-5">
                <button type="submit" class="btn btn-primary" style="width: 40%">Submit</button>
            </div>
        </form>
    </div>
    <div style="text-align: center">
        <a class="btn btn-primary" style="width: 20%" asp-action="AdminIndex" role="button">Return Home</a>
    </div>
</div>


<script>
    
</script>